
@{
    ViewBag.Title = "StokEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>
        Stok Ekleme Sayfası

    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i> Anasayfa </a></li>
        <li><a href="#">Kayıt İşlemleri</a></li>
        <li class="active">Stok Kaydı</li>
    </ol>
</section>




<section class="content">

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Stok Ekleme</h3>
        </div>

        <form method="post" action="~/Kayit/StokEkle" class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputFakulte" class="col-sm-2 control-label">Fakülte</label>

                    <div class="col-sm-10">
                        <select name="fakulteId" id="inputFakulte" class="form-control col-sm-10 control-label" style="width: 100%;" tabindex="-1" aria-hidden="true">
                            <option selected="selected">1</option>     
                            <option>2</option>                       
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputDbAdi" class="col-sm-2 control-label">Demirbaş Adı</label>

                    <div class="col-sm-10">
                        <input name="dbAdi" type="text" class="form-control" id="inputDbAdi" placeholder="Demirbaş Adı">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputDbAdet" class="col-sm-2 control-label">Demirbaş Adet</label>

                    <div class="col-sm-10">
                        <input name="DbAdet" type="text" class="form-control" id="inputDbAdet" placeholder="Demirbaş Adet">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputDbFiyat" class="col-sm-2 control-label">Demirbaş Fiyatı</label>

                    <div class="col-sm-10">
                        <input name="dbFiyat" type="text" class="form-control" id="inputDbFiyat" placeholder="Demirbaş Fiyatı">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputTur" class="col-sm-2 control-label">Demirbaş Türü</label>

                    <div class="col-sm-10">
                        <select name="dbtur" id="inputTur" class="form-control col-sm-10 control-label" style="width: 100%;" tabindex="-1" aria-hidden="true">
                            <option selected="selected">1</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputMarka" class="col-sm-2 control-label">Demirbaşın Markası</label>

                    <div class="col-sm-10">
                        <input name="dbMarka" type="text" class="form-control" id="inputMarka" placeholder="Demirbaşın Markası">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputModel" class="col-sm-2 control-label">Demirbaşın Modeli</label>

                    <div class="col-sm-10">
                        <input name="dbModel" type="text" class="form-control" id="inputModel" placeholder="Demirbaşın Modeli">
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-default">Geri Dön</button>
                <button type="submit" class="btn btn-info pull-right">Stoğa Ekle</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>

</section>









