@using DSTS.localClass
@{
    ViewBag.Title = "DemirbasSayisiniArama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- /.box -->
            <div class="box" style="height:120px;">
                <form class="form-horizontal">
                    <div class="form-group" style="width: 1050px; margin-top: 10px;">
                        <label for="inputArama" class="col-sm-2 control-label" >Arama Türü </label>
                        <div class="col-sm-10">
                            <select name="aranacak" id="inputArama" class="form-control col-sm-10 control-label" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                <option value="1" selected="selected">Arama Kriterini Seçiniz!</option>
                                <option value="1">Demirbaş Adına Göre Ara</option>
                                <option value="2">Demirbaş Türüne Göre Ara</option>
                                <option value="3">Demirbaş Fiyatına Göre Ara</option>
                                <option value="4">Demirbaş Alım Tarihine Göre Ara</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" style="width: 1050px;">
                        <label for="inputDemirbas" class="col-sm-2 control-label"> </label>

                        <div class="col-sm-10">
                            <select name="demirbas" id="inputDemirbas" class="form-control col-sm-10 control-label" style="width: 100%;" tabindex="-1" aria-hidden="true"></select>
                        </div>
                    </div>
                </form>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Demirbaş Kodu</th>
                                <th>Demirbaş Adı</th>
                                <th>Demirbaş Türü</th>
                                <th>Stok Adedi</th>
                                <th>Demirbaş Fiyatı</th>
                                <th>Demirbaş Alım Tarihi</th>
                                <th>Oda Adı</th>
                                <th>Odadaki Adedi</th>
                            </tr>
                        </thead>
                      <tbody id="demirbas">
                          
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Rendering engine</th>
                                <th>Browser</th>
                                <th>Platform(s)</th>
                                <th>Engine version</th>
                                <th>CSS grade</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>  
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@section aramaScript{
    <script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#inputArama').change(function () {
            $('#inputDemirbas option').remove();
            $.getJSON('/Arama/DBSayisiniArama', { secim: $("#inputArama option:selected").val() }, function (data) {
                $.each(data, function () {
                    if ($("#inputArama option:selected").val() == 1)
                        $("#inputDemirbas").append('<option value="' + this.demirbasId + '">' + this.demirbasAdi + '</option>');
                    if ($("#inputArama option:selected").val() == 2)
                        $("#inputDemirbas").append('<option value="' + this.demirbasId + '">' + this.tur + '</option>');
                    if ($("#inputArama option:selected").val() == 3)
                        $("#inputDemirbas").append('<option value="' + this.demirbasId + '">' + this.demirbasFiyat + '</option>');
                    if ($("#inputArama option:selected").val() == 4)
                        $("#inputDemirbas").append('<option value="' + this.demirbasId + '">' + this.demirbasTarih + '</option>');
                });

            });

        });
 

        $('#inputDemirbas').change(function () {
            $('td').remove();
            $.getJSON('/Arama/DemirbaslariGetir', { demirbasId: $("#inputDemirbas option:selected").val() }, function (sonuc) {
                console.log(sonuc);
                $('td').remove();
                for(var i=0; i<sonuc.length; i++)
                {
                    console.log(sonuc[i].demirbasKod);
                    $("#demirbas").append(
                        '<tr>' +
                        '<td>' + sonuc[i].demirbasKod + '</td>' +
                        '<td>' + sonuc[i].demirbasAdi + '</td>' +
                        '<td>' + sonuc[i].tur + '</td>' +
                        '<td>' + sonuc[i].demirbasAdet + '</td>' +
                        '<td>' + sonuc[i].demirbasFiyat + '</td>' +
                        '<td>' + sonuc[i].demirbasTarih + '</td>' +
                        '<td>' + sonuc[i].odaAdi + '</td>' +
                        '<td>' + sonuc[i].adet + '</td>' +
                        '</tr>');
               
                }
            });
        });
    });
</script>
  
 <script>
  $(function () {
    $('#example1').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>

}




