@using DSTS.localClass
@{
    ViewBag.Title = "OdaBilgileriniGuncelleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<localpersonel> lp = ViewBag.personeller;
}

<section class="content-header">
    <h1>
        Oda Bilgilerini Güncelleme
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i> Anasayfa </a></li>
        <li><a href="#">Güncelleme İşlemleri</a></li>
        <li class="active">Oda Bilgilerini Güncelleme</li>
    </ol>
</section>




<section class="content">

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Oda Bilgilerini Güncelleme</h3>
        </div>

        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <div>
                        <h3 class="box-title col-sm-5 control-label">Değiştirilecek Odayı Ve Fakültesini Seçin </h3>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFakulte" class="col-sm-2 control-label">Fakülte </label>
                    <div class="col-sm-10">
                        <select name="fakulte" id="inputFakulte" class="form-control col-sm-10 control-label" style="width: 100%;" tabindex="-1" aria-hidden="true"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="EskiOda" class="col-sm-2 control-label">Oda </label>

                    <div class="col-sm-10">
                        <select id="EskiOda" class="form-control col-sm-10 control-label" style="width: 100%;" tabindex="-1" aria-hidden="true"></select>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <h3 class="box-title col-sm-4 control-label">Odanın Yeni Bilgilerini Giriniz   </h3>
                    </div>
                </div>

                <div class="form-group">
                    <label for="yeniOdaAdi" class="col-sm-2 control-label">Yeni Oda Adı </label>

                    <div class="col-sm-10">
                        <input name="yeniOdaAdi" type="text" class="form-control" id="yeniOdaAdi" placeholder="Yeni Oda Adı">
                    </div>
                </div>



                <div class="form-group">
                    <label for="yeniOdaSorumlusu" class="col-sm-2 control-label">Yeni Oda Sorumlusu</label>
                    <div class="col-sm-10">
                        <select name="yeniOdaSorumlusu" id="yeniOdaSorumlusu" class="form-control col-sm-10 control-label" style="width: 100%;" tabindex="-1" aria-hidden="true">
                            @foreach (localpersonel l in lp)
                            {
                                <option value="@l.personelId">@l.personelAdi</option>
                            }
                        </select>
                    </div>
                </div>



            </div>
            <!-- /.box-body -->
            <div class="box-footer">

                <button id="Guncelle" type="submit" class="btn btn-info pull-right">Oda Bilgilerini Güncelle</button><br><br>
                <button id="Sil" type="submit" class="btn btn-info pull-right">Odayı Sil</button>

            </div>
            <!-- /.box-footer -->
        </form>
    </div>

</section>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // Get a list of categories and a list of products of the first category.
            $.getJSON('/Guncelleme/GetFakulte', null, function (data) {
                console.log(data);
                $.each(data, function () {

                    $('#inputFakulte').append('<option value=' +
                    this.fakulteId + '>' + this.fakulteAdi + '</option>');
                });
                $.getJSON('/Guncelleme/GetOda', { intFakId: $('#inputFakulte').val() }, function (data) {
                    $.each(data, function () {
                        $('#EskiOda').append('<option value="' +
                          this.odaId + '">' + this.odaAdi + '</option>');
                    });
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert('Odaları getirirken bir soun oluştu!');
                });

            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert('Fakülteleri getirirken bir sorun oluştu!');
            });
            $('#inputFakulte').change(function () {
                $('#EskiOda option').remove();
                $.getJSON('/Guncelleme/GetOda', { intFakId: $('#inputFakulte').val() }, function (data) {
                    $.each(data, function () {
                        $('#EskiOda').append('<option value="' +
                          this.odaId + '">' + this.odaAdi + '</option>');
                    });
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert('Odaları getirirken bir sorun oluştu!');
                });

            });

            $("#Guncelle").click(function () {
                var odaId = $("#EskiOda option:selected").val();
                var oda = $("#yeniOdaAdi").val();
                var personel = $("#yeniOdaSorumlusu").val();
                $.ajax({
                    url: '/Guncelleme/OdaBilgiGuncelle',
                    data: { odaAdi: oda, odaId: odaId, personelId: personel },
                    type: 'POST',
                    dataType: 'json'
                });
            });

            $("#Sil").click(function () {
                var odaId = $("#EskiOda option:selected").val();
                $.ajax({
                    url: '/Guncelleme/OdaSilme',
                    data: { odaId: odaId },
                    type: 'POST',
                    dataType: 'json'
                });

            });
        });

    </script>

}