@using DSTS.localClass
@{
    ViewBag.Title = "OdaBilgileriniGuncelleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<localFakulte> lf = ViewBag.fakulteler;
}

<section class="content-header">
    <h1>
        Oda Bilgilerini Güncelleme
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i> Anasayfa </a></li>
        <li><a href="#">Güncelleme İşlemleri</a></li>
        <li class="active">Oda Bilgilerini Güncelleme</li>
    </ol>
</section>




<section class="content">

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Oda Bilgilerini Güncelleme</h3>
        </div>

        <form class="form-horizontal">
            <div class="box-body">

                <div class="form-group">
                    <label for="inputFakulte" class="col-sm-2 control-label">Fakülte </label>

                    <div class="col-sm-10">
                        <select name="fakulte" id="inputFakulte" class="form-control col-sm-10 control-label" style="width: 100%;" tabindex="-1" aria-hidden="true">
                            @foreach (localFakulte l in lf)
                            {
                                <option>@l.fakulteAdi</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputOda" class="col-sm-2 control-label">Oda </label>

                    <div class="col-sm-10">
                        <select id="inputOda" class="form-control col-sm-10 control-label" style="width: 100%;" tabindex="-1" aria-hidden="true">
                            <option selected="selected">Alabama</option>
                            <option>Alaska</option>
                            <option>California</option>
                            <option>Delaware</option>
                            <option>Tennessee</option>
                            <option>Texas</option>
                            <option>Washington</option>
                        </select>
                    </div>
                </div>



                <div class="form-group">
                    <label for="inputOdaSorumlu" class="col-sm-2 control-label">Oda Sorumlusu</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputOdaSorumlu" placeholder="Oda Sorumlusu">
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">

                <button type="submit" class="btn btn-info pull-right">Oda Bilgilerini Güncelle</button></br></br>
                <button type="submit" class="btn btn-info pull-right">Odayı Sil</button>
                <button type="submit" class="btn btn-default">Geri Dön</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>

</section>

